<p>请输入「守望先锋」进行测试</p>
<div id="autocompleteContainer">
    <input id="myautocompleteIpt1" type="text" class="form-control" />
</div>
<script type="text/javascript">
$(function(){
    $('#myautocompleteIpt1').sharkAutoComplete({
        autocomplete: false,
        debounceTime: 300,
        displayKey: 'name',
        filterData: function(value) {
            var defer = $.Deferred();
            $.ajax({
                type: "POST",
                url: '/shark-ui/xhr/demo/list.do?rnd=' + Date.now(),
                dataType: "json",
                success: function(res) {
                    if (res.code === 200) {
                        var arr = [];
                        for (var i = 0; i < res.data.length; i++) {
                            if (res.data[i].name.indexOf(value) > -1) {
                                arr.push(res.data[i]);
                            }
                        }
                        defer.resolve(arr);
                    }
                },
                error: function() {}
            });
            return defer.promise();
        },
        onSelected: function(res) {
            console.log(res);
        }
    });
    var myautocomplete = $.fn.sharkAutoComplete({
        dom: '<input id="myautocompleteIpt2" type="text" class="form-control" />',
        autocomplete: false,
        debounceTime: 0,
        displayKey: 'name',
        filterData: function(value) {
            return [{
                name: value + '@163.com'
            },{
                name: value + '@163.vipcom'
            },{
                name: value + '@126.com'
            },{
                name: value + '@126.vip.com'
            }];
        },
        onSelected: function(res) {
            console.log(res);
        }
    });
    $('#autocompleteContainer').append(myautocomplete.component);
});
</script>
