<div id="dTreeContainer"></div>
<button id="dcheckAllBtn" class="btn btn-primary">全选</button>
<button id="dreverseCheckBtn" class="btn btn-primary">反选</button>
<button id="dcheckNoBtn" class="btn btn-primary">不选</button>
<button id="reRenderBtn" class="btn btn-primary">重新渲染</button>
<button id="openAllBtn" class="btn btn-primary">展开全部</button>
<button id="getCheckedBtn" class="btn btn-primary">获取选中项</button>
<button id="getSelectedBtn" class="btn btn-primary">获取选中项</button>

<!--<script type="text/javascript">
    var treeData = [
    {
        key: 'all',
        name: '所有组件'
    },
    {
        key: 'autocomplete',
        name: 'autocomplete组件',
        parentId: 'all'
    },
    {
        key: 'autocomplete1',
        name: 'autocomplete组件1',
        parentId: 'autocomplete'
    },
    {
        key: 'autocomplete2',
        name: 'autocomplete组件2',
        parentId: 'autocomplete'
    },
    {
        key: 'dropdown',
        name: 'dropdown组件',
        parentId: 'all'
    },
    {
        key: 'fileupload',
        name: 'fileupload组件',
        parentId: 'all'
    },
    {
        key: 'modal',
        name: 'modal组件',
        parentId: 'all'
    },
    {
        key: 'pager',
        name: 'pager组件',
        parentId: 'all'
    },
    {
        key: 'popover',
        name: 'popover组件',
        parentId: 'all'
    },
    {
        key: 'selecter',
        name: 'selecter组件',
        parentId: 'all'
    },
    {
        key: 'tabs',
        name: 'tabs组件',
        parentId: 'all'
    },
    {
        key: 'toastr',
        name: 'toastr组件',
        parentId: 'all'
    },
    {
        key: 'tree',
        name: 'tree组件',
        parentId: 'all'
    }
    ];

    var newTreeData = [
    {
        key: '3',
        name: '3'
    }, {
        key: '4',
        name: '4'
    }, {
        key: '1',
        name: '45'
    }];

    var dmytree = SharkUI.sharkDTree({
        nodes: treeData,
        checked: ['autocomplete', 'autocomplete2'],
        selected: ['tabs', 'toastr', 'tree'],
        parentActualKey: 'parentId',

        // openAll: false,
        actualKey: 'key',
        displayKey: 'name',
        selectable: true,
        // disabled: true,
        // disableCheckbox: true,
        // checkable: false,
        // multiple: true,
        onNodeChecked: function(node, isChecked) {
            console.log(node, isChecked);
        },
        onExpand: function(node, isExpandd) {
            console.log(node, isExpandd);
        },
        onNodeSelected: function(node, selected) {
            console.log(node, selected);
        }
       // link: false
    });
    dmytree.appendTo('#dTreeContainer');
    document.getElementById('dcheckAllBtn').addEventListener('click',function(){
        console.log(dmytree)
        dmytree.checkAll();
    });
    document.getElementById('dreverseCheckBtn').addEventListener('click',function(){
        dmytree.reverseCheck();
    });
    document.getElementById('dcheckNoBtn').addEventListener('click',function(){
        dmytree.checkNo();
    });
    document.getElementById('reRenderBtn').addEventListener('click',function(){
        dmytree.reRender(newTreeData);
    });
    document.getElementById('openAllBtn').addEventListener('click',function(){
        dmytree.openAll();
    });
    document.getElementById('openAllBtn').addEventListener('click',function(){
        dmytree.openAll();
    });
    document.getElementById('getCheckedBtn').addEventListener('click',function(){
        console.log(dmytree.getChecked());
    });
    document.getElementById('getSelectedBtn').addEventListener('click',function(){
        console.log(dmytree.getSelected());
    });

    // dmytree.setChecked(['modal', 'pager']);

    // dmytree.setDisabled(['popover']);
    // dmytree.setDisabledCheckBox(['dropdown']);
    // dmytree.setSelected(['tabs', 'pager'], true);
    // dmytree.openTo(['autocomplete'], true);
</script>-->