<div id="dropdownContainer">
</div>
<script type="text/javascript">
$(function(){
    var mydropdown = $.fn.sharkDropdown({
        text: '操作',
        actualKey: 'value',
        displayKey: 'name',
        data: [{
            value: 'create',
            name: '新建'
        }, {
            value: 'edit',
            name: '编辑'
        }, {
            value: 'delete',
            name: '删除'
        }],
        onSelected: function(item) {
            console.log(item);
        }
    });
    $('#dropdownContainer').append(mydropdown.component);
});
</script>