<div id="pagerContainer"></div>
<script type="text/javascript">
$(function(){
    var mypager = $.fn.sharkPager({
        page: 1,
        totalPages: 100,
        hl: {
            firstpage: 'first',
            prevpage: 'previous',
            nextpage: 'next',
            lastpage: 'last',
            gopage: 'go'
        },
        segmentSize: 5,
        startFrom: 1,
        gopage: true,
        onWillChange: function(p) {
            alert('即将跳转到第：' + p + '页');
            this.setPage(p);
        }
    });
    $('#pagerContainer').append(mypager.component);
});
</script>
