<div id="pagerContainer"></div>
<script type="text/javascript">
var mypager = SharkUI.sharkPager({
    page: 1,
    totalPages: 100,
    hl: {
        firstpage: 'first',
        prevpage: 'previous',
        nextpage: 'next',
        lastpage: 'last',
        gopage: 'go'
    },
    segmentSize: 5,
    startFrom: 1,
    gopage: true,
    onPageWillChange: function(p) {
        if(p===5){
            alert('禁止跳转到第5页');
            return false;
        }
        else{
            return true;
        }
    },
    onPageChanged: function(p) {
        console.log('跳转到第：' + p + '页');
    }
});
mypager.appendTo('#pagerContainer');
</script>
