
> 配置项：

>> data
- 是否必须：是
- 类型：array
- 默认值：[]
- 说明：下拉框数据，eg：
	[{
        value: '',
        name: '请选择'
    }, {
        value: 1001,
        name: '一年级'
    }, {
        value: 1002,
        name: '二年级'
    }]

>> actualKey
- 是否必须：是
- 类型：string
- 默认值：'value'
- 说明：对应data中的真值字段

>> displayKey
- 是否必须：是
- 类型：string
- 默认值：'name'
- 说明：对应data中的展示值字段

>> activeStyle
- 是否必须：否
- 类型：string
- 默认值：null
- 说明：选中之后的样式，point | nike

>> onSelected
- 是否必须：否
- 类型：function
- 默认值：function(value,itemData) {}
- 说明：点击下拉框选项之后的回调函数
