<div id="selecterContainer">
</div>
<script type="text/javascript">
var myselecter = SharkUI.sharkSelecter({
    actualKey: 'value', //对应data中的value
    displayKey: 'name', //对应data中的name
    showSearch: true,
    data: [{
        value: '',
        name: '请选择'
    }, {
        value: 1001,
        name: '一年级'
    }, {
        value: 1002,
        name: '二年级'
    }],
    activeStyle: 'point',
    onSelected: function(value, item) {
        console.log(value, item);
    }
});
myselecter.appendTo('#selecterContainer');
myselecter.setValue(1001);
</script>