
<div id="tabsDemo" class="shark-tabs">
    <ul class="nav nav-tabs">
        <li>
            <a href="javascript:void(0);">前端组</a>
        </li>
        <li>
            <a href="javascript:void(0);">视觉组</a>
        </li>
        <li>
            <a href="javascript:void(0);">运营组</a>
        </li>
        <li>
            <a href="javascript:void(0);">市场组</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane">
            都是小哥
        </div>
        <div class="tab-pane">
            都是大姐
        </div>
        <div class="tab-pane">
            都是妹纸
        </div>
        <div class="tab-pane">
            都是阿姨
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    var mytabs = $('#tabsDemo').sharkTabs({
        event: 'click',
        active: 0,
        auto: 0,
        onTabSwitch: function(index) {
            console.log(index);
        }
    });
    mytabs.switchTo(3);
});
</script>
