<div id="treeContainer"></div>
<div>
    请选择需要构建的组件：
    <button id="selectAllBtn" class="btn btn-primary">全选</button>
    <button id="reverseSelectBtn" class="btn btn-primary">反选</button>
    <button id="selectNoBtn" class="btn btn-primary">不选</button>
</div>
<div>
    <button id="build-btn" class="btn btn-primary">开始构建</button>
</div>
<script type="text/javascript">
$(function(){
    var treeData = [{
        node_id: 'all',
        node_name: '所有组件',
        children: [{
            node_id: 'autocomplete',
            node_name: 'autocomplete组件'
        }, {
            node_id: 'fileupload',
            node_name: 'fileupload组件'
        }, {
            node_id: 'modal',
            node_name: 'modal组件'
        }, {
            node_id: 'pager',
            node_name: 'pager组件'
        }, {
            node_id: 'popover',
            node_name: 'popover组件'
        }, {
            node_id: 'selecter',
            node_name: 'selecter组件'
        }, {
            node_id: 'tabs',
            node_name: 'tabs组件'
        }, {
            node_id: 'toastr',
            node_name: 'toastr组件'
        }, {
            node_id: 'tree',
            node_name: 'tree组件'
        }]
    }];
    var mytree = $.fn.sharkTree({
        nodes: treeData,
        checkable: true,
        autolink: true,
        selectable: false,
        onNodeChecked: function(node, isChecked) {
            console.log(node, isChecked);
        },
        onNodeSelected: function(node) {

        }
    });
    mytree.expandAll();
    $('#treeContainer').append(mytree);
    $('#build-btn').on('click', function() {
        var nodes = mytree.getCheckedNodes();
        var modules = [];
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].node_id !== 'all') {
                modules.push(nodes[i].node_id);
            }
        };
        window.open('/shark-ui/custom/build/modules/shark.ui.js?modules=' + modules.join(','));
    });
    $('#selectAllBtn').click(function(){
        mytree.selectAll();
    });
    $('#reverseSelectBtn').click(function(){
        mytree.reverseSelect();
    });
    $('#selectNoBtn').click(function(){
        mytree.selectNo();
    });
})
</script>