<div id="treeContainer"></div>
<div>
    请选择需要构建的组件：
    <button id="checkAllBtn" class="btn btn-primary">全选</button>
    <button id="reverseCheckBtn" class="btn btn-primary">反选</button>
    <button id="checkNoBtn" class="btn btn-primary">不选</button>
</div>
<script type="text/javascript">
var treeData = [{
    node_id: 'all',
    node_name: '所有组件',
    children: [{
        node_id: 'autocomplete',
        node_name: 'autocomplete组件'
    }, {
        node_id: 'dropdown',
        node_name: 'dropdown组件'
    }, {
        node_id: 'fileupload',
        node_name: 'fileupload组件'
    }, {
        node_id: 'modal',
        node_name: 'modal组件'
    }, {
        node_id: 'pager',
        node_name: 'pager组件'
    }, {
        node_id: 'popover',
        node_name: 'popover组件'
    }, {
        node_id: 'selecter',
        node_name: 'selecter组件'
    }, {
        node_id: 'tabs',
        node_name: 'tabs组件'
    }, {
        node_id: 'toastr',
        node_name: 'toastr组件'
    }, {
        node_id: 'tree',
        node_name: 'tree组件'
    }]
}];
var mytree = SharkUI.sharkTree({
    nodes: treeData,
    checkable: true,
    autolink: true,
    selectable: true,
    multiple: false,
    onNodeChecked: function(node, isChecked) {
        console.log(node, isChecked);
    },
    onNodeSelected: function(node) {

    }
});
mytree.appendTo('#treeContainer');
mytree.expandAll();
document.getElementById('checkAllBtn').addEventListener('click',function(){
    mytree.checkAll();
});
document.getElementById('reverseCheckBtn').addEventListener('click',function(){
    mytree.reverseCheck();
});
document.getElementById('checkNoBtn').addEventListener('click',function(){
    mytree.checkNo();
});
</script>
