
> 配置项：

>> nodes
- 是否必须：是
- 类型：array
- 默认值：[]
- 说明：组成树的节点数据，eg：
	nodes:[{  
		node_id:100,
		node_name:'demo',
		children:[{
			node_id: 110,
			node_name: 'test1'
		},{
			node_id: 120,
			node_name: 'test2'
		}
	}]

>> checkable
- 是否必须：否
- 类型：boolean
- 默认值：true
- 说明：是否可check

>> autolink
- 是否必须：否
- 类型：boolean
- 默认值：true
- 说明：check一个节点后，是否关联其父节点和子节点的选中状态（只有checkable为true时才生效）

>> selectable
- 是否必须：否
- 类型：boolean
- 默认值：false
- 说明：是否可select

>> onNodeChecked
- 是否必须：否
- 类型：function
- 默认值：function(node, isChecked) {}
- 说明：选中节点的checkbox之后的回调函数（只有checkable为true时才生效）

>> onNodeSelected
- 是否必须：否
- 类型：function
- 默认值：function(node) {}
- 说明：选中节点之后的回调函数（只有selectable为true时才生效）
