.alert-sm-container {
  font-size: 12px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;
}

.alert-lg-container {
  font-size: 12px;
  position: fixed;
  z-index: 1010;
  height: 100%;
  top: 0px;
  right: 0;
  pointer-events: none;
}

.alert {
  position: relative;
  display: block;
  margin: 8px auto;
  overflow: hidden;
  animation-duration: .3s;
  animation-play-state: running;
  width: $alert-width;
  border-radius: $border-radius;
  font-size: $alert-font-size-base;
  color: $alert-font-color;
  line-height: $alert-line-height-base;
  .alert-message {
    font-size: $alert-font-size-lg;
    &:before {
      position: absolute;
    }
  }
  .alert-close {
    position: absolute;
    cursor: pointer;
    color: $alert-close-font-color;
  }
}

.alert-sm {
  text-align: center;
  padding: $alert-sm-padding;
  a {
    color: $alert-font-color;
    text-decoration: underline;
  }
  .alert-close {
    font-size: $alert-font-size-lg;
    line-height: $alert-line-height-base;
    color: $alert-close-font-color;
    top: $alert-sm-close-top;
    right: $alert-sm-close-right;
    text-decoration: none;
  }
  .alert-message {
    line-height: 16px;
    &:before {
      line-height: 1;
      top: $alert-sm-icon-top;
      margin-left: -20px;
      font-size: $alert-icon-font-size-sm;
    }
  }
}

.alert-lg {
  padding: $alert-lg-padding;
  .alert-close {
    top: $alert-lg-close-top;
    right: $alert-lg-close-right;
    &:after {
      content: "X";
      color: $alert-close-font-color;
    }
  }
  .alert-message {
    display: block;
    line-height: $line-height-base;
    margin-bottom: $alert-desc-margin-bottom;
    &:before {
      top: $alert-lg-icon-top;
      margin-left: -40px;
      line-height: 1;
      font-size: $alert-icon-font-size-lg;
    }
  }
  .alert-desc {
    color: $alert-desc-font-color;
    display: block;
  }
}

.alert-success {
  background: $alert-success-bg-color;
  border: 1px solid $alert-success-border-color;
  .alert-message {
    &:before {
      content: "●";
      color: $alert-success-color;
    }
  }
}

.alert-error {
  background: $alert-error-bg-color;
  border: 1px solid $alert-error-border-color;
  .alert-message {
    &:before {
      content: "●";
      color: $alert-error-color;
    }
  }
}

.alert-warning {
  background: $alert-warning-bg-color;
  border: 1px solid $alert-warning-border-color;
  .alert-message {
    &:before {
      content: "●";
      color: $alert-warning-color;
    }
  }
}

.alert-info {
  background: $alert-info-bg-color;
  border: 1px solid $alert-info-border-color;
  .alert-message {
    &:before {
      content: "●";
      color: $alert-info-color;
    }
  }
}

@keyframes alertTopMoveIn {
  0% {
    transform: translate(0, -16px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes alertTopMoveOut {
  0% {
    opacity: 1;
    max-height: 150px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

@keyframes alertRightMoveIn {
  0% {
    transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
    transform: translate(0, 0);
  }
  100% {
    transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
    transform: translate(-528px, 0);
  }
}

@keyframes alertRightMoveOut {
  0% {
    opacity: 1;
    max-height: 300px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}