// Base styles

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  background-image: none;
  @include button-size($btn-height, $btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  box-shadow: none;

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
  }
  
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    @include button-variant-disabled($btn-color-disabled, $btn-border-color-disabled, $btn-background-color-disabled);
  }
}

// Primary
.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-border-color, $btn-primary-background-color, $btn-primary-background-color-hover, $btn-primary-background-color-active);
}

// secondary
.btn-secondary {
    @include button-variant($btn-color, $btn-border-color, $btn-background-color, $btn-background-color-hover, $btn-background-color-active);
    &.btn-primary {
      @include button-variant($btn-secondary-primary-color, $btn-secondary-primary-border-color, $btn-secondary-primary-background-color, $btn-secondary-primary-background-color-hover, $btn-secondary-primary-background-color-active);
      &.active,
      &:active {
       color: $btn-secondary-color-active;
      }
    }
}

// Button with icon
.btn-icon {
  padding: $btn-padding-y $btn-icon-padding-x;
  .btn-icon-left,
  .btn-icon-right {
    position: relative;
    top: 1px;
  }
  .btn-icon-left {
    margin-right: 8px;
  }
  .btn-icon-right {
    margin-left: 8px;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
a.btn {
  &.btn-primary,
  &.btn-primary:hover,
  &.btn-primary:active,
  &.btn-primary.active
  {
    color: $btn-primary-color;
  }
}

// Link buttons

// Make a button look and behave like a link
.btn-link {
  font-weight: $btn-font-weight;
  color: $link-color;
  border-radius: 0;
  border-color: transparent;

  &,
  &:active,
  &.active,
  &:disabled,
  &.disabled {
    background-color: transparent;
    border-color: transparent;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;

  }
  &:focus,
  &.active,
  &:active {
    color: $link-hover-color;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &.disabled,
  &:disabled {
    color: $btn-link-color-disabled;

    @include hover-focus {
      text-decoration: none;
    }
  }
}
