//Btn-group

.btn-group,
.btn-group-vertical {
  display: inline-block;
  font-size: 0; //消除inline-block之间的间隙
}

.btn-group,
.btn-group-vertical {
  > .btn {
    position: relative; //z-index 生效
    z-index: 1;  
  }

  > .btn {
    &:focus {
      z-index: 2;
    }
  }

  > .btn:not(:first-child):not(:last-child) {
    @include border-radius(0);
  }

  
}

.btn-group {
  > .btn:not(:first-child) {
    margin-left: -$input-border-width; //如果不同尺寸的btn有不同大小的border，则也需要按不同的尺寸来尽心设置
  }

  > .btn:first-child:not(:last-child) {
    @include border-right-radius(0);
  }

  > .btn:last-child:not(:first-child) {
    @include border-left-radius(0);
  }
}

.btn-group-vertical {
  > .btn {
    display: block;
    min-width: 100%;
    &:not(:first-child) {
      margin-top: -$input-border-width; //如果不同尺寸的btn有不同大小的border，则也需要按不同的尺寸来尽心设置
    }

    &:first-child:not(:last-child) {
      @include border-bottom-radius(0);
    }

    &:last-child:not(:first-child) {
      @include border-top-radius(0); 
    }
  }
}