.shark-calendar {
    border: 1px solid #acacac;
    background-color: #ffffff;
    border-radius: 2px;
    z-index: 999999;
    width: ((40+2)*7+2) + px;
    box-sizing: border-box;
    user-select: none;
    .calendar-montharea {
        padding: 5px 0;
        text-align: center;
        .calendar-prev-year,
        .calendar-prev-month,
        .calendar-next-year,
        .calendar-next-month {
            display: block;
            cursor: pointer;
            margin: 0 5px;
            width: 21px;
            height: 21px;
            background-size: 16px 16px;
            background-position: center center;
            background-repeat: no-repeat;
            &.calendar-disabled {
                cursor: not-allowed;
            }
        }
        .calendar-prev-year {
            float: left;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALcob2oAAAAKdFJOUwD+dlMMvZ7aMZlYDG2gAAAAM0lEQVQI12NgYGBgKmFgrgDSDIpCDIaSIAHBBGbBEJCAGIOhqAMxAggGXIpYIailEGcAAHOtDG28kPRsAAAAAElFTkSuQmCC);
        }
        .calendar-prev-month {
            float: left;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAAAAAAAAAAAAADXpN5YAAAAEdFJOUwD+dlQZqnPdAAAALklEQVQI12NgYOBiAALVBiAx9QADA1M4kMEZAxIqQBYCE2AuRAKsBFkQZAAXAwCMqgoLR0QF3wAAAABJRU5ErkJggg==);
        }
        .calendar-next-year {
            float: right;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG3RSMEAAAALdFJOUwB4VJ0KvW/aJkr+00F2iwAAADZJREFUCNdjaFdgaBdgAAKrRQxZC0EM11UKzKtAQixRixisiBBayWC1DJkBk4IrximAsBTmDAD8xRxNDQ62FwAAAABJRU5ErkJggg==);
        }
        .calendar-next-month {
            float: right;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAAAAAAAAAAAAADXpN5YAAAAEdFJOUwD+dlQZqnPdAAAALklEQVQI12NgWMDAwMAUASSYw4AEw9UGIGGaACR40QRBBJgLlgArgQuBDQAZBQCn8wqhEuR6awAAAABJRU5ErkJggg==);
        }
        input {
            display: inline-block;
            background-color: #efefef;
            width: 50px;
            text-align: center;
            border: none;
            outline: none;
        }
    }
    .calendar-dayarea {
        .calendar-day-wrap::after,
        .calendar-weekday-wrap::after {
            content: '';
            display: block;
            clear: both;
        }
        .calendar-weekday,
        .calendar-day {
            cursor: pointer;
            position: relative;
            text-align: center;
            display: block;
            float: left;
            width: 40px;
            max-width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 100%;
            border: 1px solid transparent;
            margin: 1px;
        }
        .calendar-weekday {
            font-weight: bold;
            color: #8e8686;
        }
        .calendar-day {
            font-weight: normal;
            color: #393939;
            &:hover {
                background-color: #ececec;
            }
            &.calendar-today {
                border-color: #acacac;
            }
            &.calendar-selected {
                background-color: #00cbff;
            }
            &.calendar-premonthday,
            &.calendar-nextmonthday {
                color: #acacac;
            }
            &.calendar-disabled {
                cursor: not-allowed;
                color: #ffffff;
                background-color: #eeeeee;
            }
        }
    }
}

.shark-timepanel {
    position: absolute;
    display: none;
    border: 1px solid #acacac;
    background-color: #ffffff;
    border-radius: 2px;
    z-index: 9999999;
    width: 200px;
    box-sizing: border-box;
    user-select: none;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
    .timepanel-list {
        display: block;
        height: 150px;
        float: left;
        width: 33.33%;
        border-left: 1px solid #efefef;
        overflow: auto;
        &:first-child {
            border-left: none;
        }
        // 滚动条
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px
        }
        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none
        }
        &::-webkit-scrollbar-corner {
            background-color: transparent
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1)
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1)
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0)
        }
    }
    .timepanel-list-item {
        cursor: pointer;
        padding: 2px 0 2px 0px;
        &:last-child {
            margin-bottom: 130px;
        }
        &:hover {
            background-color: #ececec;
        }
        &.timepanel-selected {
            background-color: #00cbff;
        }
        &.timepanel-disabled {
            cursor: not-allowed;
            color: #ffffff;
            background-color: #eeeeee;
        }
    }
}

.shark-pickercontainer {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: #ffffff;
    .shark-timewrap{
        border: 1px solid #acacac;
        padding: 10px 0;
        text-align: center;
        .nowtime{
            cursor:pointer;
            width: 50px;
            height: 25px;
            line-height: 25px;
            display: inline-block;
        }
        .input-time-wrap{
            display: inline-block;
            width: 150px;
            position: relative;
            .input-time{
                cursor:pointer;
                height: 25px;
                line-height: 25px;
            }
        }
    }
}