//form

.form-item {
  margin-bottom: 24px;
  font-size: 12px;  //input 的font-size
  color: rgba(0,0,0,.65);
  vertical-align: top;
}

.form-item-explain {
  display: none;
} 

//有错误提示信息时
.form-item-with-help {
  margin-bottom: 6px;  //24 - 12 * 1.5
  .form-item-explain {
    display: block;
    line-height: 1.5;
    @include text-truncate();
  }
  &.error .form-item-explain {
    color: #f04134;
  }
}

.form-item-label {
  display: inline-block;
  text-align: right;
  line-height: 32px;  //input-lg height
  white-space: nowrap;
  vertical-align: top; //和form-item-control保持一致，且无论form-item-control高度如何变化，始终保持一样的对齐风格，
}

.form-item-control {
  position: relative;
  display: inline-block;
  line-height: 32px;  //input-lg height
  vertical-align: top; 
}

.form-inline {
  .form-item {
    display: inline-block;
    padding: 0 20px; //间距
  }
}

