//input group
.input-group {
  display: inline-block;
  font-size: 0;
}

.input-group {
  > * {
    position: relative;
    width: auto;
    vertical-align: middle;
    
    &:hover,
    &:focus {
      z-index: 1;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:not(:first-child):not(:last-child) {
      @include border-radius(0);
    }

    &:first-child:not(:last-child) {
      @include border-right-radius(0);
    }

    &:last-child:not(:first-child) {
      @include border-left-radius(0);
    }
  }
}

.input-group-addon {
  display: inline-block;
  height: 30px;  //高度与input 常规高度保持一致
  line-height: 30px;
  padding: 0 7px;
  font-size: 12px;  //与input字体大小保持一致
  text-align: center;
  background: #eee;
  border: 1px solid #d9d9d9;
  transition: all .3s;
}


.input-group-addon-lg {
  height: 32px;
  line-height: 32px;
}

.input-group-addon-sm {
  height: 22px;
  line-height: 22px;
}