//input-number

%input-number-handle {
  display: block;
  width: 100%;
  height: 50%;
  text-align: center;
  cursor: pointer;
  transition: all .1s linear;
}

.input-number {
  @extend %input;
  padding: 0;
  &:hover,
  &:focus {
    .input-number-handle-wrapper {
      opacity: 1;
    }
  }
}

.input-number-input {
  width: 100%;
  padding: 0 7px;
  height: 26px;  //normal - 2
  border: 0;
  border-radius: 4px;  //TODO border-radius
  color: rgba(0,0,0,.65);
  text-align: left;
  outline: 0;
  background-color: #fff;
}

.input-number-handle-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  overflow: hidden;
  width: 22px;
  height: 100%;
  border-left: 1px solid #d9d9d9;
  background: #fff;
  @include border-right-radius(4px);
  //transition: opacity .24s linear .1s; //TODO
}

.input-number-handle-up {
  @extend %input-number-handle;
}

.input-number-handle-down {
  @extend %input-number-handle;
  border-top: 1px solid #d9d9d9;
}