// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff
// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

.fade {
  opacity: 0;
  @include transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden; // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0; // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695
  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog,
  &.fade .modal-confirm,
  &.fade .modal-alert,
  &.fade .modal-detail {
    @include transition($modal-transition);
    transform: translate(0, -25%);
  }
  &.in .modal-dialog,
  &.in .modal-confirm,
  &.in .modal-alert,
  &.in .modal-detail {
    transform: translate(0, 0);
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
// Actual modal
.modal-content {
  position: relative;
  background-color: $modal-content-bg;
  background-clip: padding-box; // border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($modal-content-border-radius);
  @include box-shadow($modal-content-box-shadow); // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg; // Fade for backdrop
  &.fade {
    opacity: 0;
  }
  &.in {
    opacity: $modal-backdrop-opacity;
  }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  height: $modal-header-height;
  padding: $modal-header-padding; // background-color: $modal-header-bg;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  @include border-top-radius($modal-content-border-radius);
  .modal-close {
    position: absolute;
    color: #999;
    text-decoration: none;
    &:hover {
      color: #3187F6;
    }
    &:before {
      content: "X";
      font-size: 10px;
      height: 10px;
    }
    top: 18px;
    right: 18px;
  }
}

// Title text within header
.modal-title {
  font-size: $modal-font-size-base;
  line-height: $modal-title-line-height;
  padding-right: 10px;
  color: $modal-title-color;
}

.modal-title-desc {
  font-size: $modal-font-size-base;
  line-height: $modal-title-line-height;
  color: $modal-title-desc-color;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  font-size: $modal-font-size-base;
  position: relative;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-footer-padding;
  text-align: right;
  background-color: $modal-footer-bg;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
  @include border-bottom-radius($modal-content-border-radius); // Easily place margin between footer elements
  > :not(:first-child) {
    margin-left: 5px;
  }
  > :not(:last-child) {
    margin-right: 5px;
  }
}

.modal-lg .modal-dialog,
.modal-lg .modal-confirm,
.modal-md .modal-alert,
.modal-lg .modal-detail {
  width: $modal-lg;
}

.modal-md .modal-dialog,
.modal-md .modal-confirm,
.modal-md .modal-alert,
.modal-md .modal-detail {
  width: $modal-md;
}

.modal-sm .modal-dialog,
.modal-sm .modal-confirm,
.modal-sm .modal-alert,
.modal-sm .modal-detail {
  width: $modal-sm;
}

.modal-dialog,
.modal-confirm,
.modal-alert,
.modal-detail {
  position: relative;
  margin: $modal-dialog-margin-y auto; // top: 50% !important;
  // transform: translateY(-60%) !important;
}

.modal-confirm,
.modal-alert {
  .modal-header,
  .modal-footer {
    display: none;
  }
  .modal-body {
    padding: $modal-confirm-body-padding;
  }
  .modal-confirm-body {
    margin-bottom: $modal-confirm-body-margin-bottom;
  }
  .modal-confirm-btns {
    text-align: right;
  }
  .tip-message {
    display: block;
    font-size: $modal-font-size-base;
    font-weight: bold;
    line-height: $modal-tip-message-line-height;
    margin-bottom: $modal-tip-message-margin-bottom;
    &:before {
      position: absolute;
      content: "●";
      top: $modal-tip-icon-top;
      left: $modal-tip-icon-left;
      color: $modal-tip-icon-color;
      font-size: 24px;
    }
  }
  .tip-desc {
    display: block;
    font-size: $modal-font-size-sm;
    line-height: $modal-tip-desc-line-height;
  }
}

.modal-detail {
  .modal-header {
    height: 62px;
    border-bottom-width: 0;
    padding: 21px 16px 20px 16px;
  }
  .modal-body {
    padding: $modal-detail-body-padding;
  }
  .modal-footer {
    padding: $modal-detail-footer-padding;
    border-top-width: 0;
    .secondary {
      float: left;
    }
    .secondary-desc {
      font-size: $modal-font-size-sm;
      color: $modal-detail-footer-secondary-desc-color;
      ;
    }
  }
}