//nav  ul.nav

.nav {
  padding-left: 0; //去掉默认的padding
  font-size: 0;
  text-align: left;
  border-bottom: $nav-border-bottom;

  > li {
    display: inline-block;
    padding: $nav-item-padding-y $nav-item-padding-x;
    font-size: $nav-font-size;
    color: $nav-color;
    text-align: center;
    background: $nav-bg;

    &.active {
      color: $nav-active-color;
      background: $nav-active-bg;
    }
  }
}