// $pagination-prefix: 'pagination'; 
//pagination
.pagination {
  display: inline-block;
  padding-left: 0; //修改浏览器的默认行为
  font-size: 0; //消除inline-block之间的间隙
  * {
    font-size: $pagination-font-size;
  }
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
  .pagination-total-text {
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    line-height: 28px;
    margin-right: 8px;
  }
  .pagination-item {
    cursor: pointer;
    border-radius: $pagination-border-radius;
    user-select: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    border: $pagination-border-width $pagination-border-style $pagination-border-color;
    background-color: $pagination-bg;
    margin-right: 8px;
    font-family: Arial;
    outline: 0;
    a {
      text-decoration: none;
      color: $pagination-color;
      transition: none;
      margin: 0 6px;
    }
    &:focus,
    &:hover {
      transition: all .3s;
      border-color: $pagination-primary-color;
      a {
        color: $pagination-primary-color;
      }
    }
  }
  .pagination-item-active {
    background-color: $pagination-primary-color;
    border-color: $pagination-primary-color;
    &:focus,
    &:hover {
      background-color: $pagination-primary-color-5;
      border-color: $pagination-primary-color-5;
    }
    a,
    &:focus a,
    &:hover a {
      color: #fff;
    }
  }
  .pagination-jump-prev,
  .pagination-jump-next {
    outline: 0;
    &:after {
      content: "•••";
      display: block;
      letter-spacing: 2px;
      color: $pagination-disabled-color;
      text-align: center;
    }
    &:focus,
    &:hover {
      &:after {
        color: $pagination-primary-color;
        @include iconfont-size-under-12px(8px);
        letter-spacing: -1px;
        font-family: "anticon";
      }
    }
  }
  .pagination-jump-prev {
    &:focus,
    &:hover {
      &:after {
        content: "\e620\e620";
      }
    }
  }
  .pagination-jump-next {
    &:focus,
    &:hover {
      &:after {
        content: "\e61f\e61f";
      }
    }
  }
  .pagination-prev,
  .pagination-jump-prev,
  .pagination-jump-next {
    margin-right: 8px;
  }
  .pagination-prev,
  .pagination-next,
  .pagination-jump-prev,
  .pagination-jump-next {
    font-family: Arial;
    cursor: pointer;
    color: $pagination-color;
    border-radius: $pagination-border-radius;
    list-style: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    transition: all .3s;
    display: inline-block;
    vertical-align: middle;
  }
  .pagination-prev,
  .pagination-next {
    border: $pagination-border-width $pagination-border-style $pagination-border-color;
    background-color: $pagination-bg;
    outline: 0;
    a {
      color: $pagination-color;
      outline: none;
      &:after {
        @include iconfont-size-under-12px(8px);
        display: block;
        height: 26px;
        line-height: 26px;
        font-family: "anticon";
        text-align: center;
      }
    }
    &:focus,
    &:hover {
      border-color: $pagination-primary-color;
      a {
        color: $pagination-primary-color;
      }
    }
  }
  .pagination-prev {
    a {
      &:after {
        content: "\e620";
        display: block;
      }
    }
  }
  .pagination-next {
    a {
      &:after {
        content: "\e61f";
        display: block;
      }
    }
  }
  .pagination-disabled {
    &:hover {
      border-color: $pagination-border-color;
      a {
        color: $pagination-disabled-color;
        cursor: not-allowed;
      }
    }
    cursor: not-allowed;
    a {
      color: $pagination-disabled-color;
    }
  }
  .pagination-size-changer,
  .pagination-quick-jumper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
  }
  .pagination-size-changer {
    margin-right: 8px;
  }
  .pagination-quick-jumper {
    height: $pagination-input-height;
    line-height: $pagination-input-height;
    .input {
      margin: 0 8px;
      width: 50px;
      height: $pagination-input-height;
    }
  }
  .pagination-simple .pagination-prev,
  .pagination-simple .pagination-next {
    border: 0;
    height: 24px;
    line-height: 24px;
    margin: 0;
    font-size: 18px;
  }
  .pagination-simple .pagination-simple-pager {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    input {
      margin: 0 8px;
      box-sizing: border-box;
      background-color: $pagination-bg;
      border-radius: $pagination-border-radius;
      border: $pagination-border-width $pagination-border-style $pagination-border-color;
      outline: none;
      padding: 5px 8px;
      height: 24px;
      text-align: center;
      transition: border-color .3s;
      &:hover {
        border-color: $pagination-primary-color;
      }
    }
  }
}

.pagination {
  &.mini .pagination-total-text {
    height: 20px;
    line-height: 20px;
  }
  &.mini .pagination-item {
    border: 0;
    margin: 0;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
  }
  &.mini .pagination-prev,
  &.mini .pagination-next {
    margin: 0;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    border: 0;
    a {
      &:after {
        height: 20px;
        line-height: 20px;
      }
    }
  }
  &.mini .pagination-jump-prev,
  &.mini .pagination-jump-next {
    height: 20px;
    line-height: 20px;
  }
  &.mini .pagination-options {
    margin-left: 8px;
    .pagination-quick-jumper {
      height: 20px;
      line-height: 20px;
      input {
        // .input-sm;
        width: 44px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .pagination-item {
    .pagination-after-jump-prev,
    .pagination-before-jump-next {
      display: none;
    }
  }
}