//radio   label.radio
/**
 * <label class="radio-wrapper">
 *    <span class="radio">
 *         <input type="radio" class="radio-input"/>
 *         <span class="radio-inner"></span>
 *     </span>
 *     <span>radio</span>
 * </label>
 *
*/


.radio-wrapper {
  @extend %select-wrapper;
}

.radio {
  @extend %select-item;
  .radio-input {
    @extend %select-input;
  }
  .radio-inner {
    @extend %select-inner;
    border-radius: 50%;
  }

  &:after {
    position: absolute;
    display: none;
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $radio-after-bg;
  }
}

.radio-wrapper:hover .radio{
  .radio-inner{
    border-color: $radio-inner-hover-border-color;
  }
}

.radio-wrapper.checked {
  &.disabled {
    .radio:after {
      background-color: $radio-disabled-bg;
    }
  }
  .radio {
    .radio-inner {
      border-color: $radio-inner-checked-border-color;
    }

    &:after {
      display: block;
    }
  }
}

.radio-wrapper.disabled .radio {

  .radio-inner {
    border-color: $radio-inner-border-color;
    background-color: $radio-inner-disabled-bg; 
  }

  & + * {
    color: $radio-disabled-color;
  }
}

.radio + * {
  padding: 0 8px;
}


