//radiogroup

.radio-group {
  display: inline-block;
  font-size: 0;
}

.radio-button-wrapper {
  position: relative;
  display: inline-blcok;
  height: 28px;
  line-height: 28px;
  padding: 0 16px;
  font-size: 12px;
  color: rgba(0,0,0,.65);
  border: 1px solid #d9d9d9;
  border-left: 0;
  cursor: pointer;
  transition: all .3s ease;

  &:first-child {
    border-left: 1px solid #d9d9d9;
    @include border-left-radius(4px);
  }

  &:last-child {
    @include border-right-radius(4px);
  }

  &:hover {
    color: #108ee9;
  }

  input[type=radio] {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.radio-button-wrapper.checked {
  z-index: 1;
  color: #49a9ee;
  border-color: #108ee9;

  &:not(:first-child) {
    box-shadow: -1px 0 0 0 #108ee9;
  }

  &:hover {
    color: #49a9ee;
  }
}

.radio-button-wrapper.disabled {
  color: rgba(0,0,0,.25);
  border-color: #d9d9d9;
  background-color: #f7f7f7;
  cursor: not-allowed;
}
