

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

*,
*::before,
*::after {
  box-sizing: border-box; 
}

// 新的html5元素，让其在老的浏览器中也有正确的布局,ie10以下
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0; 
  color: $body-color;
  background-color: $body-bg;
}

//tabindex,用于指定keyboard的导航顺序。浏览器默认把link还有form control放在导航流里，没有指定tab index的情况，按element顺序导航
//1+ 改变默认的导航顺序，优先级优于未设置的元素。
//0  使一些不能被默认导航的元素，如div也加入到导航流中
//-1 使一些不能被默认导航的元素，如div能通过script脚本的方式，获得focus状态
[tabindex="-1"]:focus {
  outline: none !important;
}

//hr 不适用，浏览器实现有差异，如果需要，以组件方式提供

//abbr 使用popover组件+aria-label属性


address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

//对于布局，采用bottom来控制间距
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; 
}


p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}


ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: $dt-font-weight;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0; // Undo browser default
}

//Links
a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
}


//
// Code
//
pre,
code,
kbd,
samp {
  font-family: monospace, monospace; // 修正继承属性
  font-size: 1em; 
}

pre {
  // 删除默认的top
  margin-top: 0;
  // 重置bottom
  margin-bottom: 1rem;
  overflow: auto;
}



//
// Figures
//
figure {
  //用margin-bottom来定位，适应总体设计方案
  margin: 0 0 1rem;
}

// Imgs
img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

//Tables

table {
  border-collapse: collapse; // Prevent double borders
}

caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $text-muted;
  text-align: center;
  caption-side: bottom;
}

th,
td {
  text-align: center;
}


// Forms

label {
  display: inline-block;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; // 删除firefox safari 中的margin
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible; // edge 显示指定
}

button,
select {
  text-transform: none; //删除firefox下的继承属性
}

// 删除Firefox下的 inner border 和 padding
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box; //ie10 下，需要显示指定border-box
  padding: 0; //删除ie10下的padding
}

textarea {
  overflow: auto; //删除ie下的默认滚动条
  // 只允许纵向缩放，这样不会破会其包含块的布局
  resize: vertical;
}

fieldset {
  //一些浏览器，会设置filedset默认的min-width为min-content-width
  //https://github.com/twbs/bootstrap/issues/12359
  //https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
  min-width: 0;
  // 重置outline，使之不影响页面布局
  padding: 0;
  margin: 0;
  border: 0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
legend {
  display: block;
  width: 100%;
  max-width: 100%; // 1
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit; // 2
  white-space: normal; // 1
}

progress {
  vertical-align: baseline; 
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
