%select-wrapper {
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: $select-color;
  white-space: nowrap;
  cursor: pointer;
}

%select-item {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-bottom;
}

%select-input {
  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

%select-inner {
  position: relative;
  display: block;  //解决line-height大于1时，且为inline-block时，其实际高度大于100%，导致布局错误
  width: 100%;
  height: 100%;
  border: 1px solid $select-inner-border-color;
  background-color: $select-inner-bg;
  transition: all .3s;
}