// $switch-duration: .3s;
.switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 22px;
  min-width: 44px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: $switch-disabled-color;
  cursor: pointer;
  transition: all $switch-duration;
  user-select: none;
  &:after {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1px;
    top: 1px;
    border-radius: 18px;
    background-color: $switch-background;
    content: " ";
    cursor: pointer;
    transition: all $switch-duration, width $switch-duration;
  }
  &:active:after {
    width: 24px;
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba($switch-primary-color, 20%);
    outline: 0;
  }
  &:focus:hover {
    box-shadow: none;
  }
}

.switch-inner {
  color: #fff;
  font-size: $switch-font-size-base;
  margin-left: 24px;
  margin-right: 6px;
  display: block;
}

.switch-small {
  height: 14px;
  min-width: 28px;
  line-height: 12px;
  .switch-inner {
    margin-left: 18px;
    margin-right: 3px;
  }
  &:after {
    width: 12px;
    height: 12px;
    top: 0;
    left: 0.5px;
  }
  &:active:after {
    width: 16px;
  }
}

.switch-small.switch-checked {
  &:after {
    left: 100%;
    margin-left: -12.5px;
  }
  .switch -inner {
    margin-left: 3px;
    margin-right: 18px;
  }
}

.switch-small:active.switch-checked:after {
  margin-left: -16.5px;
}

.switch-checked {
  border-color: $switch-primary-color;
  background-color: $switch-primary-color;
  .switch-inner {
    margin-left: 6px;
    margin-right: 24px;
  }
  &:after {
    left: 100%;
    margin-left: -19px;
  }
  &:active:after {
    margin-left: -25px;
  }
}

.switch-disabled {
  cursor: not-allowed;
  background: #f4f4f4;
  border-color: #f4f4f4;
  &:after {
    background: #ccc;
    cursor: not-allowed;
  }
  .switch-inner {
    color: $switch-disabled-color;
  }
}