%table-cell {
  padding: 10px;
  border: 1px solid #d9d9d9;
  word-break: break-all;
  min-width: 48px; //10 + 10 + 14*2
}

.table {
  margin: bottom;
  color: #666; //扩展文字样式类
  border-collapse: collapse;
  text-align: left;
  background-color: #fff;

  tr {
    transition: all .3s;
  }

  th {
    @extend %table-cell;
    @extend .text-md;
    color: #333;
    background-color: #f4f4f4;
    text-align: center;
    white-space: nowrap;
  }

  td {
    @extend .text-sm;
    @extend %table-cell;
  }

  .table-selection {
    min-width: 40px;
    width: 40px;
  }

  //操作区域不允许换行，居中
  .table-operation {
    white-space: nowrap;
    text-align: center;

    &.table-operation-block {
      .btn:not(:last-child) {
        display: block;
        margin: 0 auto 6px
      }
    }
  }

  //重置input、button的字体
  .input,
  .btn {
    @extend .text-sm;
  }
}

.table-noborder {
  th, td {
    border: 0;
  }
  td {
    border-bottom: 1px solid #d9d9d9
  }
}


.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-accent-bg;
  }
}

@include table-row-variant(active, $table-active-bg);
@include table-row-variant(success, $state-success-bg);
@include table-row-variant(info, $state-info-bg);
@include table-row-variant(warning, $state-warning-bg);
@include table-row-variant(danger, $state-danger-bg);