.tabs {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  zoom: 1;
  color: $tabs-tab-color;
  .tabs-nav {
    padding: 0;
    border-bottom: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
    .tabs-tab {
      display: inline-block;
      border: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
      border-radius: $tabs-tab-border-radius;
      padding: 5px 16px 4px;
      background: $tabs-tab-background;
      position: relative;
      z-index: 1;
      margin-bottom: -$tabs-tab-border-width;
      cursor: pointer;
      .tabs-tab-notify {
        background-color: $tabs-tab-notify-color;
        color: $tabs-tab-color;
        padding-left: 9px;
        padding-right: 9px;
        margin-left: 6px;
        border-radius: 15px;
        border: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-border-color;
      }
    }
    .tabs-tab-active {
      background-color: $tabs-tab-active-bg-color;
      color: $tabs-primary-color;
      border-bottom: $tabs-tab-border-width $tabs-tab-border-style $tabs-tab-active-bg-color;
    }
  }
  .tabs-content {
    .tabs-tabpane {
      opacity: 0;
      display: none;
      pointer-events: none;
    }
    .tabs-tabpane-active {
      opacity: 1;
      display: block;
    }
  }
}

.tabs.tabs-horizontal {
  .tabs-nav {
    .tabs-tab {
      text-align: right;
      display: block;
    }
  }
}