.text-md {
  font-size: 14px;
  line-height: 22px;
}

.text-sm {
  font-size: 13px;
  line-height: 20px;
}

.text-xs {
  font-size: 12px;
  line-height: 18px;
}

.text-lg {
  font-size: 16px;
  line-height: 24px;
}

.text-xl {
  font-size: 24px;
  line-height: 1;
}