.shark-tooltip {
  border: 0px;
  background: $tooltip-bg-color;
  @include border-radius($tooltip-border-radius);
  @include box-shadow($tooltip-box-shadow);
  .popover-content {
    color: $tooltip-color;
    padding: $tooltip-padding;
  }
  &.top {
    .arrow::after {
      border-top-color: $tooltip-bg-color;
    }
  }
  &.bottom {
    .arrow::after {
      border-bottom-color: $tooltip-bg-color;
    }
  }
  &.left {
    .arrow::after {
      border-left-color: $tooltip-bg-color;
    }
  }
  &.right {
    .arrow::after {
      border-right-color: $tooltip-bg-color;
    }
  }
}