//间距
$sizels: (ls, md, lg) !default;
$sizemap: (ls: 5px, md: 10px, lg: 15px) !default;
//color
//色板中的颜色梯度是按照主题色掺白20% 40% 60% 90%
$white: #fff !default;
$gray-100: #f4f4f4 !default;
$gray-200: #ebf3ff !default;
$gray-300: #d9d9d9 !default;
$gray-400: #ccc !default;
$gray-500: #7f92a5 !default;
$gray-600: #999 !default;
$gray-700: #666 !default;
$gray-800: #333 !default;
$black: #000 !default;
$red: #e6412c !default;
$orange: #fce593 !default;
$yellow: #ffbf00 !default;
$green: #00A854 !default;
$blue: #3187f6 !default;
$teal: #7bdff1 !default;
$pink: #d67ce9 !default;
$purple: #ad6de5 !default;
$disabled-color: $gray-600 !default;
$disabled-border-color: $gray-300 !default;
$disabled-background-color: $gray-100 !default;
$theme-colors: ( primary: $blue, secondary: $gray-600, success: $green, warning: $yellow, danger: $red) !default;
// Create grayscale
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $teal !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;
//Components
$border-width: 1px !default;
$border-radius: 4px !default;
$border-radius-lg: 6px !default;
$border-radius-sm: 8px !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
$caret-border-width-y: 5px;
$caret-border-width-x: 6px;
//Font
$font-family-sans-serif: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$text-muted: $gray-light !default;
$dt-font-weight: $font-weight-bold !default;
// body
$body-bg: #fff !default;
$body-color: #000 !default;
//alert
$alert-width:528px !default;
$alert-sm-padding: 10px 16px 10px 36px !default;
$alert-lg-padding:15px 14px 15px 60px !default;
$alert-desc-margin-bottom:4px !default;
$alert-sm-icon-top:10px !default;
$alert-sm-icon-left:22px !default;
$alert-lg-icon-top:15px !default;
$alert-lg-icon-left:20px !default;
$alert-sm-close-top:10px !default;
$alert-sm-close-right:20px !default;
$alert-lg-close-top:15px !default;
$alert-lg-close-right:14px !default;
$alert-success-color:#00A854 !default;
$alert-success-border-color:#A6DCB8 !default;
$alert-success-bg-color:#E8F6EE !default;
$alert-error-color:#E6412C !default;
$alert-error-border-color:#EBB3A8 !default;
$alert-error-bg-color:#FAECEA!default;
$alert-warning-color:#FFBF00 !default;
$alert-warning-border-color:#F9E58C !default;
$alert-warning-bg-color:#FDF8E4 !default;
$alert-info-color:#3187F6 !default;
$alert-info-border-color:#B4CFFF !default;
$alert-info-bg-color:#ECF3FF !default;
$alert-font-size-base:12px !default;
$alert-font-size-lg:14px !default;
$alert-icon-font-size-sm:16px !default;
$alert-icon-font-size-lg:24px !default;
$alert-line-height-base:18px !default;
$alert-desc-font-color:#666 !default;
$alert-font-color:#333 !default;
$alert-close-font-color:#999 !default;
//toastr
$toastr-max-width:400px !default;
$toastr-padding: 8px 16px 8px 40px !default;
$toastr-icon-top:10px !default;
$toastr-icon-left:17px !default;
$toastr-bg-color:#fff !default;
$toastr-success-color:#3DBD7D !default;
$toastr-error-color:#F04134 !default;
$toastr-warning-color:#FFBF00 !default;
$toastr-border-radius:4px !default;
$toastr-box-shadow:0 2px 8px 0 rgba(0, 0, 0, 0.20);
$toastr-font-size:12px !default;
$toastr-icon-font-size:12px !default;
$toastr-desc-font-color:rgba(0, 0, 0, 0.75) !default;
$toastr-font-color:rgba(0, 0, 0, 0.65) !default;
//Links
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Tables
$table-cell-padding: .75rem !default;
$table-cell-padding-sm: .3rem !default;
$table-bg: transparent !default;
$table-accent-bg: rgba($black, .05) !default;
$table-hover-bg: rgba($black, .075) !default;
$table-active-bg: $table-hover-bg !default;
$table-border-width: $border-width !default;
$table-border-color: $gray-lighter !default;
$table-head-bg: $gray-lighter !default;
$table-head-color: $gray !default;
// Buttons
$btn-padding-y: 4px !default;
$btn-padding-x: 16px !default;
$btn-font-size: 14px !default;
$btn-line-height: 1.5 !default;
$btn-height: 30px !default;
$btn-font-weight: 500 !default;
$btn-border-radius: 2px !default;
$btn-transition: all .3s cubic-bezier(.645, .045, .355, 1) !default;

$btn-color-disabled: $disabled-color !default;
$btn-border-color-disabled: $disabled-border-color !default;
$btn-background-color-disabled: $disabled-background-color !default;
$btn-link-color-disabled: $gray-400 !default;

$btn-color: $gray-700 !default;
$btn-border-color: $gray-300 !default;
$btn-background-color: $white !default;
$btn-background-color-hover: $gray-100 !default;
$btn-background-color-active: $gray-300 !default;

$btn-primary-color: $white !default;
$btn-primary-border-color: $blue !default;
$btn-primary-background-color: $blue !default;
$btn-primary-background-color-hover: #519afa !default;
$btn-primary-background-color-active: #2577e0 !default;

$btn-secondary-primary-color: $blue !default;
$btn-secondary-primary-border-color: $blue !default;
$btn-secondary-primary-background-color: $white !default;
$btn-secondary-primary-background-color-hover: #D0E8FE !default;
$btn-secondary-primary-background-color-active: $blue !default;
$btn-secondary-color-active: $white !default;

$btn-icon-padding-x: 16px !default;

// Forms
$input-btn-padding-y: .5rem !default;
$input-btn-padding-x: .75rem !default;
$input-btn-line-height: 1.25 !default;
$input-btn-padding-y-sm: .25rem !default;
$input-btn-padding-x-sm: .5rem !default;
$input-btn-line-height-sm: 1.5 !default;
$input-btn-padding-y-lg: .5rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-line-height-lg: 1.5 !default;
$input-bg: $white !default;
$input-disabled-bg: $gray-lighter !default;
$input-color: $gray !default;
$input-border-color: rgba($black, .15) !default;
$input-border-width: $border-width !default; // For form controls and buttons
$input-box-shadow: inset 0 1px 1px rgba($black, .075) !default;
$input-focus-bg: $input-bg !default;
$input-focus-border-color: lighten($brand-primary, 25%) !default;
$input-focus-box-shadow: $input-box-shadow,
0 0 0 3px rgba(theme-color("primary"), .25) !default;
$input-focus-color: $input-color !default;
$input-border-radius: $border-radius !default;
$input-border-radius-lg: $border-radius-lg !default;
$input-border-radius-sm: $border-radius-sm !default;
$input-placeholder-color: $gray-light !default;
$input-height-border: $input-border-width * 2 !default;
$input-height-inner: ($font-size-base * $input-btn-line-height)+($input-btn-padding-y * 2) !default;
$input-height: calc(#{$input-height-inner} + #{$input-height-border}) !default;
$input-height-inner-sm: ($font-size-sm * $input-btn-line-height-sm)+($input-btn-padding-y-sm * 2) !default;
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border}) !default;
$input-height-inner-lg: ($font-size-lg * $input-btn-line-height-lg)+($input-btn-padding-y-lg * 2) !default;
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border}) !default;
$input-transition: border-color ease-in-out .15s,
box-shadow ease-in-out .15s !default;
// Grid clumns
$grid-columns: 24 !default;
// Form states and alerts
$state-success-text: #3c763d !default;
$state-success-bg: #dff0d8 !default;
$state-success-border-color: darken($state-success-bg, 5%) !default;
$state-info-text: #31708f !default;
$state-info-bg: #d9edf7 !default;
$state-info-border-color: darken($state-info-bg, 7%) !default;
$state-warning-text: #8a6d3b !default;
$state-warning-bg: #fcf8e3 !default;
$mark-bg: $state-warning-bg !default;
$state-warning-border-color: darken($state-warning-bg, 5%) !default;
$state-danger-text: #a94442 !default;
$state-danger-bg: #f2dede !default;
$state-danger-border-color: darken($state-danger-bg, 5%) !default;
//List Groups
$list-min-width: 160px !default;
$list-bg: #fff !default;
$list-border: 1px solid #979797 !default;
$list-border-radius: 0 !default;
$list-box-shadow: none !default;
$list-single-li-padding-y: 7px !default;
$list-single-li-padding-x: 18px !default;
$list-multiple-li-padding-y: $list-single-li-padding-y !default;
$list-multiple-li-padding-x: 9px !default;
$list-li-hover-bg: #e7e7e7 !default;
//Drop Down
// Image thumbnails
$thumbnail-padding: 4px !default;
$thumbnail-bg: $body-bg !default;
$thumbnail-border-width: $border-width !default;
$thumbnail-border-color: #ddd !default;
$thumbnail-border-radius: $border-radius !default;
$thumbnail-box-shadow: 0 1px 2px rgba($black, .075) !default;
$thumbnail-transition: all .2s ease-in-out !default;
//pagination
$pagination-item-margin-right: 8px !default;
$pagination-prev-margin-right: 8px !default;
$pagination-font-size: $font-size-base !default;
$pagination-color: rgba(0, 0, 0, 0.65) !default;
$pagination-disabled-color: rgba(0, 0, 0, .25) !default;
$pagination-bg: transparent !default;
$pagination-active-bg: transparent !default;
$pagination-primary-color: #108EE9 !default;
$pagination-primary-color-5: #49a9ee !default;
$pagination-border-width: 1px !default;
$pagination-border-style: solid !default;
$pagination-border-radius: 4px !default;
$pagination-border-color: #d9d9d9 !default;
$pagination-input-height: 28px !default;
//input group
$input-group-addon-bg: #eee !default;
//nav
$nav-font-size: 16px !default;
$nav-border-bottom: 1px solid #44a8e8 !default;
$nav-color: #000 !default;
$nav-active-color: #fff !default;
$nav-bg: #cacaca !default;
$nav-active-bg: #348dfe !default;
$nav-item-padding-y: 10px !default;
$nav-item-padding-x: 50px !default;
//track
$track-font-size: 16px !default;
$track-current-color: #000 !default;
$track-pre-color: $track-current-color !default;
$track-path-space: 5px !default;
$track-split-content: ">" !default;
$track-padding-y: 10px !default;
$track-padding-x: 20px !default;
$track-bg: #dceaf4 !default;
//progress
$progress-height: 20px !default;
$progress-bg: #f5f5f5 !default;
$progress-font-size: 12px !default;
$progress-color: #fff !default;
$progress-border-radius: 4px !default;
$progress-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1) !default;
$progress-bra-bg: #337ab7 !default;
$progress-bar-transition: width .6s ease !default;
$progress-striped-color: rgba(255, 255, 255, .15);
$progress-striped-deg: 45deg;
$progress-bar-animation-timing: 1s linear infinite !default;
// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
//popover 
$popover-inner-padding: 1px !default;
$popover-font-size: 12px !default;
$popover-bg: #fff !default;
$popover-max-width: 276px !default;
$popover-border-width: 1px !default;
$popover-border-color: rgba(0, 0, 0, .2) !default;
$popover-border-radius: 6px !default;
$popover-box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !default;
$popover-header-font-size: 16px !default;
$popover-header-bg: darken($popover-bg, 3%) !default;
$popover-header-color: #000 !default; //$headings-color
$popover-header-padding-y: 8px !default;
$popover-header-padding-x: 14px !default;
$popover-content-color: #000 !default;
$popover-content-padding: 16px !default;
$popover-content-link-color:rgba(0, 0, 0, 0.65) !default;
$popover-content-message-padding-left:20px !default;
$popover-content-btns-margin-top:16px !default;
$popover-icon-color:$alert-warning-color !default;
$popover-arrow-width: 4px !default;
$popover-arrow-height: 5px !default;
$popover-arrow-color: $popover-bg !default;
$popover-arrow-outer-width: ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color: fade-in($popover-border-color, .05) !default;
$tooltip-color:#fff !default;
$tooltip-bg-color: rgba(64, 64, 64, 1)!default;
$tooltip-box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.20) !default;
$tooltip-border-radius:6px !default;
$tooltip-padding:9px 8px !default;
// Modals
// Padding applied to the modal body
$modal-font-size-sm: 12px !default;
$modal-font-size-base: 14px !default;
$modal-inner-padding: 24px 45px 25px 43px !default;
$modal-header-height:50px !default;
$modal-footer-padding: 10px 16px 10px 16px !default;
$modal-dialog-margin-y: 30px !default;
$modal-title-line-height: 21px !default;
$modal-title-color: #666 !default;
$modal-title-desc-color: #999 !default;
$modal-content-bg: #fff !default;
$modal-content-border-color: rgba(0, 0, 0, .2) !default;
$modal-content-border-width: 1px !default;
$modal-content-border-radius: 4px;
$modal-content-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2) !default;
$modal-backdrop-bg: #000 !default;
$modal-backdrop-opacity: .5 !default;
$modal-header-bg: #dceaf4 !default;
$modal-footer-bg: #fff !default;
$modal-header-border-color: #D9D9D9 !default;
$modal-confirm-body-padding:40px 40px 40px 80px !default;
$modal-confirm-body-margin-bottom:30px !default;
$modal-tip-icon-top:40px !default;
$modal-tip-icon-left:40px !default;
$modal-tip-icon-color:$alert-warning-color !default;
$modal-tip-message-line-height:22px !default;
$modal-tip-message-margin-bottom:10px !default;
$modal-tip-desc-line-height:20px !default;
$modal-detail-body-padding:0px 16px !default;
$modal-detail-footer-padding:20px 16px !default;
$modal-detail-footer-secondary-desc-color:#999 !default;
$modal-footer-border-color: $modal-header-border-color !default;
$modal-header-border-width: $modal-content-border-width !default;
$modal-footer-border-width: $modal-header-border-width !default;
$modal-header-padding: 15px !default;
$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;
$modal-transition: transform .3s ease-out !default;
// tree
$tree-font-size: 13px !default; //字体大小
$tree-icon-size: 14px !default; //图标宽度
$tree-color: $gray-700 !default;
$tree-background-color-hover: #ecf6fd !default;
$tree-selected-bg: #d2eafb !default; //选中节点后的背景色
$tree-disable-color: rgba(0, 0, 0, .25) !default; //禁用后的颜色
// Close
$close-font-size: $font-size-base * 1.5 !default;
$close-font-weight: $font-weight-bold !default;
$close-color: #000 !default;
$close-text-shadow: 0 1px 0 $white !default;
//utilities
$emsizes: 15 !default;
//select
$select-color: rgba(0, 0, 0, .65) !default;
$select-disabled-color: rgba(0, 0, 0, .25) !default;
$select-inner-border-color: #d9d9d9 !default;
$select-inner-hover-border-color: #108ee9 !default;
$select-inner-bg: #fff !default;
$select-inner-disabled-bg: #f7f7f7 !default;
//radio
$radio-color: $select-color !default;
$radio-disabled-color: $select-disabled-color !default;
$radio-inner-border-color: $select-inner-border-color !default;
$radio-inner-hover-border-color: $select-inner-hover-border-color !default;
$radio-inner-checked-border-color: $radio-inner-hover-border-color !default;
$radio-inner-bg: $select-inner-bg !default;
$radio-inner-disabled-bg: $select-inner-disabled-bg !default;
$radio-after-bg: $radio-inner-hover-border-color !default;
$radio-disabled-bg: #ccc !default;
//check
$check-color: $select-color !default;
$check-disabled-color: $select-disabled-color !default;
$check-inner-border-color: $select-inner-border-color !default;
$check-inner-hover-border-color: $select-inner-hover-border-color !default;
$check-inner-checked-border-color: $check-inner-hover-border-color !default;
$check-inner-bg: $select-inner-bg !default;
$check-inner-disabled-bg: $select-inner-disabled-bg !default;
$check-inner-checked-bg: $check-inner-hover-border-color !default;
$check-inner-checked-some-bg: $check-inner-checked-bg !default;
$check-after-border-color: #fff !default;
$check-after-disabled-border-color: #ccc !default;
//switch
$switch-font-size-base: 12px !default;
$switch-duration: .3s !default;
$switch-disabled-color: rgba(0, 0, 0, .25) !default;
$switch-background: #fff !default;
$switch-primary-color: #108EE9 !default;
//tabs
$tabs-tab-border-width:1px !default;
$tabs-tab-border-style: solid !default;
$tabs-tab-border-color: #d9d9d9 !default;
$tabs-tab-border-radius: 4px 4px 0 0 !default;
$tabs-tab-background: #f9f9f9 !default;
$tabs-tab-color: rgba(0, 0, 0, .65) !default;
$tabs-tab-active-bg-color: #fff !default;
$tabs-tab-notify-color: #fff !default;
$tabs-primary-color: #108EE9 !default;
//selecter
$seleter-color: $gray-600 !default;
$seleter-border-color: $gray-300 !default;
$seleter-background-color: #fff !default;
$seleter-border-radius: 2px !default;
$selecter-height: 30px !default;
$selecter-padding: 4px 25px 4px 9px !default;
$seleter-border-color-hover: $blue !default;
$select-font-size: 14px !default;
$seleter-caret-border-width: 5px !default;
$selecter-multiple-min-height: 30px !default;
$selecter-multiple-max-height: 90px !default;
$selecter-multiple-padding: 3px 5px !default;
$selecter-item-color: $gray-700 !default;
$selecter-item-background-color: $gray-300 !default;
$seleter-item-border-radius: 3px !default;
$selecter-item-height: 20px !default;
$seleter-item-padding: 0 5px !default;
$seleter-background-color-disabled: $gray-100 !default;
$selecter-input-line-height: 20px !default;
$seleter-selected-color: $gray-800 !default;
$selecter-box-shadow:0 1px 4px 0 rgba(49,135,246,0.3) !default;
$selecter-transition: all .3s cubic-bezier(.645, .045, .355, 1) !default;
$seleter-noborder-selected-color: $blue !default;
$seleter-noborder-padding: 4px 9px !default;
//progress
$progress-font-size-base: 12px;
$progress-loading-text-font-size: 18px;
$progress-line-bg: #f7f7f7;
$progess-primary-color: #108EE9;
//breadcrumb
$breadcrumb-color:#D9D9D9 !default;
$breadcrumb-font-size:12px !default;
$breadcrumb-link-color:$breadcrumb-color;
$breadcrumb-tag-last-color:#666 !default;
$breadcrumb-separator-padding:0 8px !default;